<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AcuLink_Bridge_Reader_CSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <AcuLink_Bridge_Reader_CSharp.Properties.Settings>
            <setting name="pressureOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="wuStation" serializeAs="String">
                <value />
            </setting>
            <setting name="wuPwd" serializeAs="String">
                <value />
            </setting>
            <setting name="networkDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="postToWunderground" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="postToWeatherBug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wbStation" serializeAs="String">
                <value />
            </setting>
            <setting name="wbPub" serializeAs="String">
                <value />
            </setting>
            <setting name="wbPwd" serializeAs="String">
                <value />
            </setting>
            <setting name="writeToCSV" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="postToPws" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pwsStation" serializeAs="String">
                <value />
            </setting>
            <setting name="pwsPwd" serializeAs="String">
                <value />
            </setting>
            <setting name="filterOnSensorId" serializeAs="String">
                <value />
            </setting>
            <setting name="sensorType" serializeAs="String">
                <value>5n1</value>
            </setting>
            <setting name="awStation" serializeAs="String">
                <value />
            </setting>
            <setting name="awPwd" serializeAs="String">
                <value />
            </setting>
            <setting name="postToAWeather" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sensorIdTemp" serializeAs="String">
                <value />
            </setting>
            <setting name="sensorIdHumidity" serializeAs="String">
                <value />
            </setting>
            <setting name="sensorIdWind" serializeAs="String">
                <value />
            </setting>
            <setting name="sensorIdRain" serializeAs="String">
                <value />
            </setting>
            <setting name="sensorTypeTemp" serializeAs="String">
                <value />
            </setting>
            <setting name="sensorTypeHumidity" serializeAs="String">
                <value />
            </setting>
            <setting name="sensorTypeWind" serializeAs="String">
                <value />
            </setting>
            <setting name="sensorTypeRain" serializeAs="String">
                <value />
            </setting>
            <setting name="csvFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="tempOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="debugMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rainDay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timestamp" serializeAs="String">
                <value>04/20/2014 04:20:00</value>
            </setting>
            <setting name="sensorTypeSoil" serializeAs="String">
                <value />
            </setting>
            <setting name="sensorIdSoil" serializeAs="String">
                <value />
            </setting>
            <setting name="autoRestart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="windOffsetPct" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="soilTempOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="owStationId" serializeAs="String">
                <value />
            </setting>
            <setting name="owApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="postToOw" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="postToCw" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cwRegNum" serializeAs="String">
                <value />
            </setting>
            <setting name="cwHostName" serializeAs="String">
                <value>cwop.aprs.net</value>
            </setting>
            <setting name="cwLat" serializeAs="String">
                <value />
            </setting>
            <setting name="cwLon" serializeAs="String">
                <value />
            </setting>
            <setting name="cwPasscode" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="cwUpdateMinutes" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="humidityOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cwComment" serializeAs="String">
                <value>KevinsMyAcu-Rite</value>
            </setting>
            <setting name="veraPostTo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="veraIp" serializeAs="String">
                <value />
            </setting>
            <setting name="veraTempSvc" serializeAs="String">
                <value>urn:upnp-org:serviceId:TemperatureSensor1</value>
            </setting>
            <setting name="veraTempDevId" serializeAs="String">
                <value />
            </setting>
            <setting name="veraHumidSvc" serializeAs="String">
                <value>urn:micasaverde-com:serviceId:HumiditySensor1</value>
            </setting>
            <setting name="veraHumidDevId" serializeAs="String">
                <value />
            </setting>
            <setting name="veraTempVar" serializeAs="String">
                <value />
            </setting>
            <setting name="veraHumidVar" serializeAs="String">
                <value />
            </setting>
            <setting name="logSeriousErrors" serializeAs="String">
                <value>True</value>
            </setting>
        </AcuLink_Bridge_Reader_CSharp.Properties.Settings>
    </userSettings>
</configuration>
